* html .u2_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="axhoox_starter_inject_files/u5_normal.png");
}

* html .u4_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="axhoox_starter_inject_files/u7_normal.png");
}

* html .u8_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_mouseOver.png");
}

* html .u8_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_selected.png");
}

* html .u8_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_normal.png");
}

* html .u12_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_mouseOver.png");
}

* html .u12_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_selected.png");
}

* html .u12_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_normal.png");
}

* html .u16_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_mouseOver.png");
}

* html .u16_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_selected.png");
}

* html .u16_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_normal.png");
}

* html .u20_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_mouseOver.png");
}

* html .u20_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_selected.png");
}

* html .u20_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_normal.png");
}

* html .u24_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_mouseOver.png");
}

* html .u24_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_selected.png");
}

* html .u24_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_normal.png");
}

* html .u28_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_mouseOver.png");
}

* html .u28_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_selected.png");
}

* html .u28_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_normal.png");
}

* html .u32_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_mouseOver.png");
}

* html .u32_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_selected.png");
}

* html .u32_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_normal.png");
}

* html .u36_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_mouseOver.png");
}

* html .u36_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_selected.png");
}

* html .u36_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_normal.png");
}

* html .u40_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_mouseOver.png");
}

* html .u40_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_selected.png");
}

* html .u40_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_normal.png");
}

* html .u44_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_mouseOver.png");
}

* html .u44_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_selected.png");
}

* html .u44_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_normal.png");
}

* html .u48_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_mouseOver.png");
}

* html .u48_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_selected.png");
}

* html .u48_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_normal.png");
}

* html .u52_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_mouseOver.png");
}

* html .u52_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_selected.png");
}

* html .u52_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_normal.png");
}

* html .u56_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_mouseOver.png");
}

* html .u56_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_selected.png");
}

* html .u56_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_normal.png");
}

* html .u60_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_mouseOver.png");
}

* html .u60_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_selected.png");
}

* html .u60_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_normal.png");
}

* html .u64_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_mouseOver.png");
}

* html .u64_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_selected.png");
}

* html .u64_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_normal.png");
}

* html .u68_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_mouseOver.png");
}

* html .u68_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_selected.png");
}

* html .u68_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_normal.png");
}

* html .u72_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_mouseOver.png");
}

* html .u72_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_selected.png");
}

* html .u72_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_normal.png");
}

* html .u76_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_mouseOver.png");
}

* html .u76_selected {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_selected.png");
}

* html .u76_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_with_prepared_context_files/label_u8_normal.png");
}

* html .u81_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_context_files/button_select_all_u81_mouseOver.png");
}

* html .u81_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_context_files/button_select_all_u81_disabled.png");
}

* html .u81_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_context_files/button_select_all_u81_disabled.png");
}

* html .u83_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_context_files/button_select_all_u81_mouseOver.png");
}

* html .u83_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_context_files/button_select_all_u81_disabled.png");
}

* html .u83_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_context_files/button_select_all_u81_disabled.png");
}

* html .u85_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_context_files/button_select_all_u81_mouseOver.png");
}

* html .u85_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_context_files/button_select_all_u81_disabled.png");
}

* html .u85_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_context_files/button_select_all_u81_disabled.png");
}

* html .u87_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_context_files/button_select_all_u81_mouseOver.png");
}

* html .u87_disabled {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_context_files/button_select_all_u81_disabled.png");
}

* html .u87_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="master_context_files/button_select_all_u81_disabled.png");
}

