body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_selected {
    background-image: url('../option_container_files/bg_u0_selected.png');
}

.u0_normal {
    background-image: url('../option_container_files/bg_u0_normal.png');
}

.u0_container {
    position:absolute;
    left:35px;
    top:264px;
    width:545px;
    height:125px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:551px;
    height:131px;
}

.u1 {
    position:absolute;
    left:2px;
    top:54px;
    width:541px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:45px;
    top:303px;
    width:85px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:45px;
    top:320px;
    width:525px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_selected {
    background-image: url('../option_container_files/title_u4_selected.png');
}

.u4_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u4_container {
    position:absolute;
    left:36px;
    top:265px;
    width:543px;
    height:32px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:549px;
    height:38px;
}

.u5 {
    position:absolute;
    left:10px;
    top:8px;
    width:523px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u6 {
    position:absolute;
    left:35px;
    top:264px;
    width:545px;
    height:125px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u7 {
    position:absolute;
    left:525px;
    top:271px;
    width:46px;
    height:21px;
    overflow:hidden;
}

#pd0u7 {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:21px;
    
}

.u8_mouseOver {
    background-image: url('../option_container_files/reset_u8_mouseOver.png');
}

.u8_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u8_container {
    position:absolute;
    left:0px;
    top:0px;
    width:45px;
    height:20px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:26px;
}

.u9 {
    position:absolute;
    left:2px;
    top:4px;
    width:41px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u11 {
    position:absolute;
    left:1016px;
    top:90px;
    width:65px;
    height:33px;
    overflow:hidden;
}

#pd0u11 {
    position:absolute;
    left:0px;
    top:0px;
    width:65px;
    height:33px;
    
}

#u12 {
    position:absolute;
    left:0px;
    top:0px;
    width:65px;
    height:33px;
    overflow:hidden;
}

#pd1u12 {
    position:absolute;
    left:0px;
    top:0px;
    width:65px;
    height:33px;
    
}

.u13_normal {
    background-image: url('../axhoox_starter_inject_files/u5_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:32px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:32px;
}

.u14 {
    position:absolute;
    left:2px;
    top:8px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u12 {
    position:absolute;
    left:0px;
    top:0px;
    width:65px;
    height:33px;
    
}

.u15_normal {
    background-image: url('../axhoox_starter_inject_files/u7_normal.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:32px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:32px;
}

.u16 {
    position:absolute;
    left:2px;
    top:8px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:45px;
    top:238px;
    width:510px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:45px;
    top:908px;
    width:450px;
    height:420px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21 {
    position:absolute;
    left:45px;
    top:882px;
    width:330px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_mouseOver {
    background-image: url('../option_button_files/option_u22_mouseOver.png');
}

.u22_disabled {
    background-image: url('../option_button_files/option_u22_disabled.png');
}

.u22_normal {
    background-image: url('../option_button_files/option_u22_normal.png');
}

.u22_container {
    position:absolute;
    left:610px;
    top:264px;
    width:300px;
    height:48px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:54px;
}

.u23 {
    position:absolute;
    left:10px;
    top:16px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:540px;
    top:908px;
    width:405px;
    height:894px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u26 {
    position:absolute;
    left:540px;
    top:882px;
    width:330px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:45px;
    top:1414px;
    width:450px;
    height:1109px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u28 {
    position:absolute;
    left:45px;
    top:1388px;
    width:330px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_mouseOver {
    background-image: url('../option_button_files/option_u22_mouseOver.png');
}

.u29_disabled {
    background-image: url('../option_button_files/option_u22_disabled.png');
}

.u29_normal {
    background-image: url('../option_button_files/option_u22_normal.png');
}

.u29_container {
    position:absolute;
    left:610px;
    top:322px;
    width:300px;
    height:48px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:54px;
}

.u30 {
    position:absolute;
    left:10px;
    top:16px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_mouseOver {
    background-image: url('../option_button_files/option_u22_mouseOver.png');
}

.u32_disabled {
    background-image: url('../option_button_files/option_u22_disabled.png');
}

.u32_normal {
    background-image: url('../option_button_files/option_u22_normal.png');
}

.u32_container {
    position:absolute;
    left:610px;
    top:380px;
    width:300px;
    height:48px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:54px;
}

.u33 {
    position:absolute;
    left:10px;
    top:16px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_mouseOver {
    background-image: url('../option_button_files/option_u22_mouseOver.png');
}

.u35_disabled {
    background-image: url('../option_button_files/option_u22_disabled.png');
}

.u35_normal {
    background-image: url('../option_button_files/option_u22_normal.png');
}

.u35_container {
    position:absolute;
    left:610px;
    top:438px;
    width:300px;
    height:48px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:54px;
}

.u36 {
    position:absolute;
    left:10px;
    top:16px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_mouseOver {
    background-image: url('../option_button_files/option_u22_mouseOver.png');
}

.u38_disabled {
    background-image: url('../option_button_files/option_u22_disabled.png');
}

.u38_normal {
    background-image: url('../option_button_files/option_u22_normal.png');
}

.u38_container {
    position:absolute;
    left:610px;
    top:496px;
    width:300px;
    height:48px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:54px;
}

.u39 {
    position:absolute;
    left:10px;
    top:16px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_mouseOver {
    background-image: url('../option_button_files/option_u22_mouseOver.png');
}

.u41_disabled {
    background-image: url('../option_button_files/option_u22_disabled.png');
}

.u41_normal {
    background-image: url('../option_button_files/option_u22_normal.png');
}

.u41_container {
    position:absolute;
    left:610px;
    top:554px;
    width:300px;
    height:48px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:54px;
}

.u42 {
    position:absolute;
    left:10px;
    top:16px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_selected {
    background-image: url('../option_container_files/bg_u0_selected.png');
}

.u44_normal {
    background-image: url('../option_container_files/bg_u0_normal.png');
}

.u44_container {
    position:absolute;
    left:35px;
    top:399px;
    width:545px;
    height:125px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:551px;
    height:131px;
}

.u45 {
    position:absolute;
    left:2px;
    top:54px;
    width:541px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:45px;
    top:438px;
    width:85px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:45px;
    top:455px;
    width:525px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_selected {
    background-image: url('../option_container_files/title_u4_selected.png');
}

.u48_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u48_container {
    position:absolute;
    left:36px;
    top:400px;
    width:543px;
    height:32px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:549px;
    height:38px;
}

.u49 {
    position:absolute;
    left:10px;
    top:8px;
    width:523px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u50 {
    position:absolute;
    left:35px;
    top:399px;
    width:545px;
    height:125px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u51 {
    position:absolute;
    left:525px;
    top:406px;
    width:46px;
    height:21px;
    overflow:hidden;
}

#pd0u51 {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:21px;
    
}

.u52_mouseOver {
    background-image: url('../option_container_files/reset_u8_mouseOver.png');
}

.u52_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u52_container {
    position:absolute;
    left:0px;
    top:0px;
    width:45px;
    height:20px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:26px;
}

.u53 {
    position:absolute;
    left:2px;
    top:4px;
    width:41px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_selected {
    background-image: url('../option_container_files/bg_u0_selected.png');
}

.u55_normal {
    background-image: url('../option_container_files/bg_u0_normal.png');
}

.u55_container {
    position:absolute;
    left:35px;
    top:534px;
    width:545px;
    height:125px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:551px;
    height:131px;
}

.u56 {
    position:absolute;
    left:2px;
    top:54px;
    width:541px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:45px;
    top:573px;
    width:85px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:45px;
    top:590px;
    width:525px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_selected {
    background-image: url('../option_container_files/title_u4_selected.png');
}

.u59_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u59_container {
    position:absolute;
    left:36px;
    top:535px;
    width:543px;
    height:32px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:549px;
    height:38px;
}

.u60 {
    position:absolute;
    left:10px;
    top:8px;
    width:523px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u61 {
    position:absolute;
    left:35px;
    top:534px;
    width:545px;
    height:125px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u62 {
    position:absolute;
    left:525px;
    top:541px;
    width:46px;
    height:21px;
    overflow:hidden;
}

#pd0u62 {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:21px;
    
}

.u63_mouseOver {
    background-image: url('../option_container_files/reset_u8_mouseOver.png');
}

.u63_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u63_container {
    position:absolute;
    left:0px;
    top:0px;
    width:45px;
    height:20px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:26px;
}

.u64 {
    position:absolute;
    left:2px;
    top:4px;
    width:41px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_selected {
    background-image: url('../option_container_files/bg_u0_selected.png');
}

.u66_normal {
    background-image: url('../option_container_files/bg_u0_normal.png');
}

.u66_container {
    position:absolute;
    left:35px;
    top:669px;
    width:545px;
    height:125px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:551px;
    height:131px;
}

.u67 {
    position:absolute;
    left:2px;
    top:54px;
    width:541px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:45px;
    top:708px;
    width:85px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:45px;
    top:725px;
    width:525px;
    height:44px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_selected {
    background-image: url('../option_container_files/title_u4_selected.png');
}

.u70_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u70_container {
    position:absolute;
    left:36px;
    top:670px;
    width:543px;
    height:32px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:549px;
    height:38px;
}

.u71 {
    position:absolute;
    left:10px;
    top:8px;
    width:523px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u72 {
    position:absolute;
    left:35px;
    top:669px;
    width:545px;
    height:125px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u73 {
    position:absolute;
    left:525px;
    top:676px;
    width:46px;
    height:21px;
    overflow:hidden;
}

#pd0u73 {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:21px;
    
}

.u74_mouseOver {
    background-image: url('../option_container_files/reset_u8_mouseOver.png');
}

.u74_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u74_container {
    position:absolute;
    left:0px;
    top:0px;
    width:45px;
    height:20px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:26px;
}

.u75 {
    position:absolute;
    left:2px;
    top:4px;
    width:41px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:540px;
    top:1927px;
    width:405px;
    height:85px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u78 {
    position:absolute;
    left:540px;
    top:1901px;
    width:330px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:540px;
    top:2077px;
    width:405px;
    height:145px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u80 {
    position:absolute;
    left:540px;
    top:2051px;
    width:330px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:610px;
    top:238px;
    width:300px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:35px;
    top:90px;
    width:875px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:35px;
    top:134px;
    width:875px;
    height:51px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

