body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:35px;
    top:2178px;
    width:871px;
    height:141px;
    overflow:hidden;
}

#pd0u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:871px;
    height:141px;
    
}

.u1_normal {
    background-image: url('../accordion_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:2px;
    width:870px;
    height:138px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:876px;
    height:144px;
}

.u2 {
    position:absolute;
    left:10px;
    top:61px;
    width:850px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u3 {
    position:absolute;
    left:35px;
    top:2178px;
    width:871px;
    height:81px;
    overflow:hidden;
}

#pd0u3 {
    position:absolute;
    left:0px;
    top:0px;
    width:871px;
    height:81px;
    
}

.u4_normal {
    background-image: url('../accordion_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:2px;
    width:870px;
    height:78px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:876px;
    height:84px;
}

.u5 {
    position:absolute;
    left:10px;
    top:31px;
    width:850px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u6 {
    position:absolute;
    left:35px;
    top:2178px;
    width:871px;
    height:141px;
    overflow:hidden;
}

#pd0u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:871px;
    height:141px;
    
}

.u7_normal {
    background-image: url('../accordion_files/u1_normal.png');
}

.u7_container {
    position:absolute;
    left:0px;
    top:2px;
    width:870px;
    height:138px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:876px;
    height:144px;
}

.u8 {
    position:absolute;
    left:10px;
    top:61px;
    width:850px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u9 {
    position:absolute;
    left:35px;
    top:2178px;
    width:871px;
    height:306px;
    overflow:hidden;
}

#pd0u9 {
    position:absolute;
    left:0px;
    top:0px;
    width:871px;
    height:306px;
    
}

.u10_normal {
    background-image: url('../accordion_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:0px;
    top:2px;
    width:870px;
    height:303px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:876px;
    height:309px;
}

.u11 {
    position:absolute;
    left:10px;
    top:144px;
    width:850px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u12 {
    position:absolute;
    left:35px;
    top:2178px;
    width:871px;
    height:186px;
    overflow:hidden;
}

#pd0u12 {
    position:absolute;
    left:0px;
    top:0px;
    width:871px;
    height:186px;
    
}

.u13_normal {
    background-image: url('../accordion_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:2px;
    width:870px;
    height:183px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:876px;
    height:189px;
}

.u14 {
    position:absolute;
    left:10px;
    top:84px;
    width:850px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u15 {
    position:absolute;
    left:35px;
    top:2178px;
    width:871px;
    height:186px;
    overflow:hidden;
}

#pd0u15 {
    position:absolute;
    left:0px;
    top:0px;
    width:871px;
    height:186px;
    
}

.u16_normal {
    background-image: url('../accordion_files/u13_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:2px;
    width:870px;
    height:183px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:876px;
    height:189px;
}

.u17 {
    position:absolute;
    left:10px;
    top:84px;
    width:850px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u18 {
    position:absolute;
    left:35px;
    top:2178px;
    width:871px;
    height:186px;
    overflow:hidden;
}

#pd0u18 {
    position:absolute;
    left:0px;
    top:0px;
    width:871px;
    height:186px;
    
}

.u19_normal {
    background-image: url('../accordion_files/u13_normal.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:2px;
    width:870px;
    height:183px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:876px;
    height:189px;
}

.u20 {
    position:absolute;
    left:10px;
    top:84px;
    width:850px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u21 {
    position:absolute;
    left:35px;
    top:2178px;
    width:871px;
    height:186px;
    overflow:hidden;
}

#pd0u21 {
    position:absolute;
    left:0px;
    top:0px;
    width:871px;
    height:186px;
    
}

.u22_normal {
    background-image: url('../accordion_files/u13_normal.png');
}

.u22_container {
    position:absolute;
    left:0px;
    top:2px;
    width:870px;
    height:183px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:876px;
    height:189px;
}

.u23 {
    position:absolute;
    left:10px;
    top:84px;
    width:850px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u24 {
    position:absolute;
    left:1016px;
    top:90px;
    width:65px;
    height:33px;
    overflow:hidden;
}

#pd0u24 {
    position:absolute;
    left:0px;
    top:0px;
    width:65px;
    height:33px;
    
}

#u25 {
    position:absolute;
    left:0px;
    top:0px;
    width:65px;
    height:33px;
    overflow:hidden;
}

#pd1u25 {
    position:absolute;
    left:0px;
    top:0px;
    width:65px;
    height:33px;
    
}

.u26_normal {
    background-image: url('../axhoox_starter_inject_files/u5_normal.png');
}

.u26_container {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:32px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:32px;
}

.u27 {
    position:absolute;
    left:2px;
    top:8px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u25 {
    position:absolute;
    left:0px;
    top:0px;
    width:65px;
    height:33px;
    
}

.u28_normal {
    background-image: url('../axhoox_starter_inject_files/u7_normal.png');
}

.u28_container {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:32px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:32px;
}

.u29 {
    position:absolute;
    left:2px;
    top:8px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:35px;
    top:90px;
    width:875px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:35px;
    top:134px;
    width:875px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u34 {
    position:absolute;
    left:35px;
    top:264px;
    width:871px;
    height:46px;
    overflow:hidden;
}

#pd0u34 {
    position:absolute;
    left:0px;
    top:0px;
    width:871px;
    height:46px;
    
}

.u35_mouseOver {
    background-image: url('../accordion_section_files/bt_header_u35_mouseOver.png');
}

.u35_selected {
    background-image: url('../accordion_section_files/bt_header_u35_selected.png');
}

.u35_disabled {
    background-image: url('../accordion_section_files/bt_header_u35_disabled.png');
}

.u35_normal {
    background-image: url('../accordion_section_files/bt_header_u35_disabled.png');
}

.u35_container {
    position:absolute;
    left:0px;
    top:0px;
    width:870px;
    height:45px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:876px;
    height:51px;
}

.u36 {
    position:absolute;
    left:10px;
    top:13px;
    width:850px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:45px;
    top:1101px;
    width:450px;
    height:642px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u39 {
    position:absolute;
    left:45px;
    top:1075px;
    width:330px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:535px;
    top:1101px;
    width:450px;
    height:692px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u41 {
    position:absolute;
    left:535px;
    top:1075px;
    width:330px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u43 {
    position:absolute;
    left:35px;
    top:312px;
    width:871px;
    height:46px;
    overflow:hidden;
}

#pd0u43 {
    position:absolute;
    left:0px;
    top:0px;
    width:871px;
    height:46px;
    
}

.u44_mouseOver {
    background-image: url('../accordion_section_files/bt_header_u35_mouseOver.png');
}

.u44_selected {
    background-image: url('../accordion_section_files/bt_header_u35_selected.png');
}

.u44_disabled {
    background-image: url('../accordion_section_files/bt_header_u35_disabled.png');
}

.u44_normal {
    background-image: url('../accordion_section_files/bt_header_u35_disabled.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:0px;
    width:870px;
    height:45px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:876px;
    height:51px;
}

.u45 {
    position:absolute;
    left:10px;
    top:13px;
    width:850px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u47 {
    position:absolute;
    left:35px;
    top:360px;
    width:871px;
    height:46px;
    overflow:hidden;
}

#pd0u47 {
    position:absolute;
    left:0px;
    top:0px;
    width:871px;
    height:46px;
    
}

.u48_mouseOver {
    background-image: url('../accordion_section_files/bt_header_u35_mouseOver.png');
}

.u48_selected {
    background-image: url('../accordion_section_files/bt_header_u35_selected.png');
}

.u48_disabled {
    background-image: url('../accordion_section_files/bt_header_u35_disabled.png');
}

.u48_normal {
    background-image: url('../accordion_section_files/bt_header_u35_disabled.png');
}

.u48_container {
    position:absolute;
    left:0px;
    top:0px;
    width:870px;
    height:45px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:876px;
    height:51px;
}

.u49 {
    position:absolute;
    left:10px;
    top:13px;
    width:850px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:45px;
    top:1804px;
    width:450px;
    height:324px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u52 {
    position:absolute;
    left:45px;
    top:1778px;
    width:330px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:535px;
    top:1843px;
    width:405px;
    height:195px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u54 {
    position:absolute;
    left:535px;
    top:1817px;
    width:330px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u55 {
    position:absolute;
    left:35px;
    top:408px;
    width:871px;
    height:46px;
    overflow:hidden;
}

#pd0u55 {
    position:absolute;
    left:0px;
    top:0px;
    width:871px;
    height:46px;
    
}

.u56_mouseOver {
    background-image: url('../accordion_section_files/bt_header_u35_mouseOver.png');
}

.u56_selected {
    background-image: url('../accordion_section_files/bt_header_u35_selected.png');
}

.u56_disabled {
    background-image: url('../accordion_section_files/bt_header_u35_disabled.png');
}

.u56_normal {
    background-image: url('../accordion_section_files/bt_header_u35_disabled.png');
}

.u56_container {
    position:absolute;
    left:0px;
    top:0px;
    width:870px;
    height:45px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:876px;
    height:51px;
}

.u57 {
    position:absolute;
    left:10px;
    top:13px;
    width:850px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u59 {
    position:absolute;
    left:35px;
    top:456px;
    width:871px;
    height:46px;
    overflow:hidden;
}

#pd0u59 {
    position:absolute;
    left:0px;
    top:0px;
    width:871px;
    height:46px;
    
}

.u60_mouseOver {
    background-image: url('../accordion_section_files/bt_header_u35_mouseOver.png');
}

.u60_selected {
    background-image: url('../accordion_section_files/bt_header_u35_selected.png');
}

.u60_disabled {
    background-image: url('../accordion_section_files/bt_header_u35_disabled.png');
}

.u60_normal {
    background-image: url('../accordion_section_files/bt_header_u35_disabled.png');
}

.u60_container {
    position:absolute;
    left:0px;
    top:0px;
    width:870px;
    height:45px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:876px;
    height:51px;
}

.u61 {
    position:absolute;
    left:10px;
    top:13px;
    width:850px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u63 {
    position:absolute;
    left:35px;
    top:504px;
    width:871px;
    height:46px;
    overflow:hidden;
}

#pd0u63 {
    position:absolute;
    left:0px;
    top:0px;
    width:871px;
    height:46px;
    
}

.u64_mouseOver {
    background-image: url('../accordion_section_files/bt_header_u35_mouseOver.png');
}

.u64_selected {
    background-image: url('../accordion_section_files/bt_header_u35_selected.png');
}

.u64_disabled {
    background-image: url('../accordion_section_files/bt_header_u35_disabled.png');
}

.u64_normal {
    background-image: url('../accordion_section_files/bt_header_u35_disabled.png');
}

.u64_container {
    position:absolute;
    left:0px;
    top:0px;
    width:870px;
    height:45px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:876px;
    height:51px;
}

.u65 {
    position:absolute;
    left:10px;
    top:13px;
    width:850px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u67 {
    position:absolute;
    left:35px;
    top:552px;
    width:871px;
    height:46px;
    overflow:hidden;
}

#pd0u67 {
    position:absolute;
    left:0px;
    top:0px;
    width:871px;
    height:46px;
    
}

.u68_mouseOver {
    background-image: url('../accordion_section_files/bt_header_u35_mouseOver.png');
}

.u68_selected {
    background-image: url('../accordion_section_files/bt_header_u35_selected.png');
}

.u68_disabled {
    background-image: url('../accordion_section_files/bt_header_u35_disabled.png');
}

.u68_normal {
    background-image: url('../accordion_section_files/bt_header_u35_disabled.png');
}

.u68_container {
    position:absolute;
    left:0px;
    top:0px;
    width:870px;
    height:45px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:876px;
    height:51px;
}

.u69 {
    position:absolute;
    left:10px;
    top:13px;
    width:850px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u71 {
    position:absolute;
    left:35px;
    top:600px;
    width:871px;
    height:46px;
    overflow:hidden;
}

#pd0u71 {
    position:absolute;
    left:0px;
    top:0px;
    width:871px;
    height:46px;
    
}

.u72_mouseOver {
    background-image: url('../accordion_section_files/bt_header_u35_mouseOver.png');
}

.u72_selected {
    background-image: url('../accordion_section_files/bt_header_u35_selected.png');
}

.u72_disabled {
    background-image: url('../accordion_section_files/bt_header_u35_disabled.png');
}

.u72_normal {
    background-image: url('../accordion_section_files/bt_header_u35_disabled.png');
}

.u72_container {
    position:absolute;
    left:0px;
    top:0px;
    width:870px;
    height:45px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:876px;
    height:51px;
}

.u73 {
    position:absolute;
    left:10px;
    top:13px;
    width:850px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:45px;
    top:238px;
    width:510px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

