body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../deep_nested_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:570px;
    top:965px;
    width:340px;
    height:805px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:346px;
    height:811px;
}

.u1 {
    position:absolute;
    left:2px;
    top:394px;
    width:336px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u2 {
    position:absolute;
    left:1016px;
    top:90px;
    width:65px;
    height:33px;
    overflow:hidden;
}

#pd0u2 {
    position:absolute;
    left:0px;
    top:0px;
    width:65px;
    height:33px;
    
}

#u3 {
    position:absolute;
    left:0px;
    top:0px;
    width:65px;
    height:33px;
    overflow:hidden;
}

#pd1u3 {
    position:absolute;
    left:0px;
    top:0px;
    width:65px;
    height:33px;
    
}

.u4_normal {
    background-image: url('../axhoox_starter_inject_files/u5_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:32px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:32px;
}

.u5 {
    position:absolute;
    left:2px;
    top:8px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u3 {
    position:absolute;
    left:0px;
    top:0px;
    width:65px;
    height:33px;
    
}

.u6_normal {
    background-image: url('../axhoox_starter_inject_files/u7_normal.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:32px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:32px;
}

.u7 {
    position:absolute;
    left:2px;
    top:8px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../deep_nested_master_files/l1_bg_u10_normal.png');
}

.u10_container {
    position:absolute;
    left:35px;
    top:400px;
    width:500px;
    height:500px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:506px;
    height:506px;
}

.u11 {
    position:absolute;
    left:2px;
    top:242px;
    width:496px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u12 {
    position:absolute;
    left:45px;
    top:410px;
    width:481px;
    height:401px;
    overflow:hidden;
}

#pd1u12 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:401px;
    
}

.u13_normal {
    background-image: url('../deep_nested_master_files/l2_bs_dummy_1_u13_normal.png');
}

.u13_container {
    position:absolute;
    left:50px;
    top:58px;
    width:353px;
    height:80px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:359px;
    height:86px;
}

.u14 {
    position:absolute;
    left:2px;
    top:32px;
    width:349px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../deep_nested_master_files/l2_bs_dummy_1_u13_normal.png');
}

.u15_container {
    position:absolute;
    left:50px;
    top:228px;
    width:353px;
    height:80px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:359px;
    height:86px;
}

.u16 {
    position:absolute;
    left:2px;
    top:32px;
    width:349px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u12 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:401px;
    
}

.u17_normal {
    background-image: url('../deep_nested_master_files/l2_bg_u17_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:400px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:406px;
}

.u18 {
    position:absolute;
    left:2px;
    top:192px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:16px;
    top:0px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../deep_nested_master_files/l2_shape_u21_normal.png');
}

.u21_container {
    position:absolute;
    left:185px;
    top:345px;
    width:100px;
    height:40px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u22 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u23 {
    position:absolute;
    left:295px;
    top:345px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd4u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

#pd3u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

#pd2u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

#pd1u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

#pd0u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u24_normal {
    background-image: url('../deep_nested_master_files/l2_shape_u21_normal.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u25 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u26 {
    position:absolute;
    left:10px;
    top:10px;
    width:461px;
    height:316px;
    overflow:hidden;
}

#pd0u26 {
    position:absolute;
    left:0px;
    top:0px;
    width:461px;
    height:316px;
    
}

.u27_normal {
    background-image: url('../deep_nested_master_files/l3_bg_u27_normal.png');
}

.u27_container {
    position:absolute;
    left:0px;
    top:0px;
    width:460px;
    height:315px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:321px;
}

.u28 {
    position:absolute;
    left:2px;
    top:150px;
    width:456px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u29 {
    position:absolute;
    left:10px;
    top:10px;
    width:441px;
    height:236px;
    overflow:hidden;
}

#pd0u29 {
    position:absolute;
    left:0px;
    top:0px;
    width:441px;
    height:236px;
    
}

.u30_normal {
    background-image: url('../deep_nested_master_files/l4_bg_u30_normal.png');
}

.u30_container {
    position:absolute;
    left:0px;
    top:0px;
    width:440px;
    height:235px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:446px;
    height:241px;
}

.u31 {
    position:absolute;
    left:2px;
    top:110px;
    width:436px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../deep_nested_master_files/l4_white_square_u32_normal.png');
}

.u32_container {
    position:absolute;
    left:210px;
    top:108px;
    width:20px;
    height:20px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:145px;
    top:199px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:155px;
    top:270px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:16px;
    top:0px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../deep_nested_master_files/l2_shape_u21_normal.png');
}

.u38_container {
    position:absolute;
    left:230px;
    top:835px;
    width:100px;
    height:40px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u39 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u40 {
    position:absolute;
    left:340px;
    top:835px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd4u40 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u41_normal {
    background-image: url('../deep_nested_master_files/l2_bs_dummy_6_u41_normal.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u42 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd3u40 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u43_normal {
    background-image: url('../deep_nested_master_files/l2_bs_dummy_6_u41_normal.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u44 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u40 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u45_normal {
    background-image: url('../deep_nested_master_files/l2_bs_dummy_6_u41_normal.png');
}

.u45_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u46 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u40 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u47_normal {
    background-image: url('../deep_nested_master_files/l2_bs_dummy_6_u41_normal.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u48 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u40 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u49_normal {
    background-image: url('../deep_nested_master_files/l2_shape_u21_normal.png');
}

.u49_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u50 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../deep_nested_master_files/l1_bg_u10_normal.png');
}

.u52_container {
    position:absolute;
    left:570px;
    top:400px;
    width:500px;
    height:500px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:506px;
    height:506px;
}

.u53 {
    position:absolute;
    left:2px;
    top:242px;
    width:496px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u54 {
    position:absolute;
    left:580px;
    top:410px;
    width:481px;
    height:401px;
    overflow:hidden;
}

#pd1u54 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:401px;
    
}

.u55_normal {
    background-image: url('../deep_nested_master_files/l2_bs_dummy_1_u13_normal.png');
}

.u55_container {
    position:absolute;
    left:50px;
    top:58px;
    width:353px;
    height:80px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:359px;
    height:86px;
}

.u56 {
    position:absolute;
    left:2px;
    top:32px;
    width:349px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../deep_nested_master_files/l2_bs_dummy_1_u13_normal.png');
}

.u57_container {
    position:absolute;
    left:50px;
    top:228px;
    width:353px;
    height:80px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:359px;
    height:86px;
}

.u58 {
    position:absolute;
    left:2px;
    top:32px;
    width:349px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u54 {
    position:absolute;
    left:0px;
    top:0px;
    width:481px;
    height:401px;
    
}

.u59_normal {
    background-image: url('../deep_nested_master_files/l2_bg_u17_normal.png');
}

.u59_container {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:400px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:406px;
}

.u60 {
    position:absolute;
    left:2px;
    top:192px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:16px;
    top:0px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../deep_nested_master_files/l2_shape_u21_normal.png');
}

.u63_container {
    position:absolute;
    left:185px;
    top:345px;
    width:100px;
    height:40px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u64 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u65 {
    position:absolute;
    left:295px;
    top:345px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd4u65 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

#pd3u65 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

#pd2u65 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

#pd1u65 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

#pd0u65 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u66_normal {
    background-image: url('../deep_nested_master_files/l2_shape_u21_normal.png');
}

.u66_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u67 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u68 {
    position:absolute;
    left:10px;
    top:10px;
    width:461px;
    height:316px;
    overflow:hidden;
}

#pd0u68 {
    position:absolute;
    left:0px;
    top:0px;
    width:461px;
    height:316px;
    
}

.u69_normal {
    background-image: url('../deep_nested_master_files/l3_bg_u27_normal.png');
}

.u69_container {
    position:absolute;
    left:0px;
    top:0px;
    width:460px;
    height:315px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:321px;
}

.u70 {
    position:absolute;
    left:2px;
    top:150px;
    width:456px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u71 {
    position:absolute;
    left:10px;
    top:10px;
    width:441px;
    height:236px;
    overflow:hidden;
}

#pd0u71 {
    position:absolute;
    left:0px;
    top:0px;
    width:441px;
    height:236px;
    
}

.u72_normal {
    background-image: url('../deep_nested_master_files/l4_bg_u30_normal.png');
}

.u72_container {
    position:absolute;
    left:0px;
    top:0px;
    width:440px;
    height:235px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:446px;
    height:241px;
}

.u73 {
    position:absolute;
    left:2px;
    top:110px;
    width:436px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../deep_nested_master_files/l4_white_square_u32_normal.png');
}

.u74_container {
    position:absolute;
    left:210px;
    top:108px;
    width:20px;
    height:20px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u75 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:145px;
    top:199px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:155px;
    top:270px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:16px;
    top:0px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../deep_nested_master_files/l2_shape_u21_normal.png');
}

.u80_container {
    position:absolute;
    left:765px;
    top:835px;
    width:100px;
    height:40px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u81 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u82 {
    position:absolute;
    left:875px;
    top:835px;
    width:101px;
    height:41px;
    overflow:hidden;
}

#pd4u82 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u83_normal {
    background-image: url('../deep_nested_master_files/l2_bs_dummy_6_u41_normal.png');
}

.u83_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u84 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd3u82 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u85_normal {
    background-image: url('../deep_nested_master_files/l2_bs_dummy_6_u41_normal.png');
}

.u85_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u86 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u82 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u87_normal {
    background-image: url('../deep_nested_master_files/l2_bs_dummy_6_u41_normal.png');
}

.u87_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u88 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u82 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u89_normal {
    background-image: url('../deep_nested_master_files/l2_bs_dummy_6_u41_normal.png');
}

.u89_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u90 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u82 {
    position:absolute;
    left:0px;
    top:0px;
    width:101px;
    height:41px;
    
}

.u91_normal {
    background-image: url('../deep_nested_master_files/l2_shape_u21_normal.png');
}

.u91_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:40px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u92 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../deep_nested_files/infobox_origin_u94_normal.png');
}

.u94_container {
    position:absolute;
    left:35px;
    top:276px;
    width:290px;
    height:40px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:46px;
}

.u95 {
    position:absolute;
    left:5px;
    top:12px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../deep_nested_files/infobox_origin_u94_normal.png');
}

.u96_container {
    position:absolute;
    left:780px;
    top:276px;
    width:290px;
    height:40px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:46px;
}

.u97 {
    position:absolute;
    left:5px;
    top:12px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:35px;
    top:250px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:780px;
    top:250px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:35px;
    top:965px;
    width:500px;
    height:620px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u101 {
    position:absolute;
    left:35px;
    top:939px;
    width:330px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:35px;
    top:90px;
    width:875px;
    height:34px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:35px;
    top:134px;
    width:875px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../deep_nested_files/infobox_origin_u94_normal.png');
}

.u104_container {
    position:absolute;
    left:408px;
    top:276px;
    width:290px;
    height:40px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:46px;
}

.u105 {
    position:absolute;
    left:5px;
    top:12px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:408px;
    top:250px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../deep_nested_files/infobox_origin_u94_normal.png');
}

.u107_container {
    position:absolute;
    left:35px;
    top:331px;
    width:290px;
    height:40px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:46px;
}

.u108 {
    position:absolute;
    left:5px;
    top:12px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../deep_nested_files/infobox_origin_u94_normal.png');
}

.u109_container {
    position:absolute;
    left:780px;
    top:331px;
    width:290px;
    height:40px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:46px;
}

.u110 {
    position:absolute;
    left:5px;
    top:12px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../deep_nested_files/infobox_origin_u94_normal.png');
}

.u111_container {
    position:absolute;
    left:408px;
    top:331px;
    width:290px;
    height:40px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:296px;
    height:46px;
}

.u112 {
    position:absolute;
    left:5px;
    top:12px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:35px;
    top:185px;
    width:510px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../deep_nested_files/u114_normal.png');
}

.u114_container {
    position:absolute;
    left:577px;
    top:1599px;
    width:322px;
    height:165px;
}

#u114_img {
    position:absolute;
    left:0px;
    top:0px;
    width:322px;
    height:165px;
}

.u115 {
    position:absolute;
    left:2px;
    top:74px;
    width:318px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../deep_nested_files/u116_normal.png');
}

.u116_container {
    position:absolute;
    left:577px;
    top:971px;
    width:322px;
    height:628px;
}

#u116_img {
    position:absolute;
    left:0px;
    top:0px;
    width:322px;
    height:628px;
}

.u117 {
    position:absolute;
    left:2px;
    top:306px;
    width:318px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:570px;
    top:939px;
    width:330px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

